ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  margin: 0;

  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: #2e2f42;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.page-header {
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.logo span {
  color: #4d5ae5;
}

.menu-link,
.contact-link {
  font-size: 16px;
  line-height: 1.5;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.portfolio-title {
  color: #2e2f42;
}

.portfolio-name {
  color: #2e2f42;
  font-size: 20px;
}

.portfolio-type {
  font-size: 16px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
}
