body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  color: #2e2f42;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.page-header {
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo span {
  color: #4d5ae5;
}
.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contact-link {
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.features-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.team-section {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #ffffff;
}
.team-member-name {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-member-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
}
.page-footer .logo {
  color: #f4f4fd;
}
