body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #434455;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
header a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
h1,
h2,
h3 {
  color: #2e2f42;
}
button {
  font-family: inherit;
  cursor: pointer;
}
address {
  font-style: normal;
}
header {
  background-color: #ffffff;
}

footer {
  background-color: #2e2f42;
}

main section:first-child {
  background-color: #2e2f42;
}
footer {
  color: #f4f4fd;
}
a:hover,
a:focus {
  color: #404bbf;
}
button:hover,
button:focus {
  background-color: #404bbf;
}
